@model FAA.ViewModel.FAADatabaseClass
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="Index.css" />

<div>
    <h2 style="text-align:center">PCN Form Website</h2>
</div>
<header>
    <div id="heading">
        <img id="logo" style="height: 150px;" src="https://th.bing.com/th/id/OIP.tloprR-Fo2HetucFpe9D5wHaHe?pid=ImgDet&rs=1" />
    </div>
</header>
<center><h4><b>Open PCN Overview</b></h4></center>
<body>

    <table class="table">
        <tr>
            <th>
                PCNID
            </th>
            <th>
                StartDate
            </th>
            <th>
                Description
            </th>
            <th>
                CourseID & Course Name
            </th>
            <th>
                Instructor ID & Name
            </th>
        </tr>

        @foreach (var item in Model.pcns)
        {
            if (item.IsApproved is null)
            {


                <tr>
                    <td>
                        <center>@Html.DisplayFor(modelItem => item.PCNID)</center>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        ID:@Html.DisplayFor(modelItem => item.Course.CourseID) - @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        ID:@Html.DisplayFor(modelItem => item.Instructor.InstructorID) - @Html.DisplayFor(modelItem => item.Instructor.FirstName) @Html.DisplayFor(modelItem => item.Instructor.LastName)
                    </td>
                </tr>
            }
        }

    </table>
</body>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-4">
            <p><a style="background-color: lightgray; height: 35px; width: 315px; text-size-adjust:125%; " id="btn1" class="btn btn-default" href="https://localhost:44344/PCNs/Create">Create New PCN</a></p>
        </div>
        <div class="col-md-4">
            <p><a style="background-color: lightgray; height: 35px; width: 315px; text-size-adjust: 125%;" id="btn2" class="btn btn-default" href="https://localhost:44344/PCNs/Open">View Open PCNs</a></p>
        </div>
        <div class="col-md-4">
            <p><a style="background-color: lightgray; height: 35px; width: 315px; text-size-adjust: 125%;" id="btn3" class="btn btn-default" href="https://localhost:44344/Home/Old">View Closed PCNs</a></p>
        </div>
    </div>
