@model FAA.ViewModel.FAADatabaseClass

@{
    ViewBag.Title = "Closed PCNs";
}
<link rel="stylesheet" href="Old.css" />

<h2>Closed PCNs</h2>
<p>
    <a href="https://localhost:44344/PCNs/Create">Create new PCN</a>
</p>


<body>
    <table class="table">
        <tr>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Description
            </th>
            <th>
                IsApproved
            </th>
            <th>
                CourseID & Course Name
            </th>
            <th>
                Instructor ID & Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.pcns)
        {
            if (item.IsApproved != null)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsApproved)
                    </td>
                    <td>
                        ID:@Html.DisplayFor(modelItem => item.Course.CourseID) - @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        ID:@Html.DisplayFor(modelItem => item.Instructor.InstructorID) - @Html.DisplayFor(modelItem => item.Instructor.FirstName) @Html.DisplayFor(modelItem => item.Instructor.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PCNID })
                    </td>
                </tr>
            }
        }

    </table>



</body>
<footer style="padding-top: 10px; ">
    <p><a style="background-color: lightgray;" class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>